# -- Site Configuration --
# Refer to the theme docs for more details about each of these parameters.

theme = "blowfish"
baseURL = "https://aldar.tech/"
defaultContentLanguage = "en"
disableLanguages = ['pt-pt']

# Enable multiple languages
[languages]
  [languages.en]
    weight = 1
  [languages.no]
    weight = 2

enableRobotsTXT = true
summaryLength = 30

buildDrafts = false
buildFuture = false

enableEmoji = true

[services]
  [services.googleAnalytics]
    ID = "G-T3CSF57JSF"

[pagination]
  pagerSize = 27

[params.author]
  name = "Aldar Ali"
  image = "img/me.jpeg"
  imageAlt = "Aldar Ali"
  headline = "System Engineer and Cybersecurity enthusiast"
  description = "I am a System Engineer and cybersecurity enthusiast with a focus on penetration testing, network security, and data protection. I have a passion for technology and a strong desire to help organizations improve their security posture. I am always looking for new challenges and opportunities to learn and grow in the field of cybersecurity."
  bio = ""
  links = [
    { email = "mailto:contact@aldar.tech" },
    { rss = "https://aldar.tech/index.xml"},
    { linkedin = "https://linkedin.com/in/aldar-ali" },
    { github = "https://github.com/AldarAli" },
    { credly = "https://www.credly.com/users/aldar-ali" },
    { accredible = "https://www.credential.net/profile/aldarali/wallet"},
    { goodreads = "https://www.goodreads.com/aldarali"}
  ]


[imaging]
  anchor = 'Center'

[taxonomies]
  tag = "tags"
  category = "categories"

[sitemap]
  changefreq = "daily"
  filename = "sitemap.xml"
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]

[related]
  threshold = 1
  includeNewer = true
  toLower = true

    [[related.indices]]
        name = "tags"
        weight = 100

    [[related.indices]]
        name = "categories"
        weight = 100

    [[related.indices]]
        name = "date"
        weight = 0

    [[related.indices]]
      applyFilter = true
      name = 'fragmentrefs'
      type = 'fragments'
      weight = 10

[minify]
  disableHTML = false
  disableCSS = false
  disableJS = false
  disableJSON = false
  disableSVG = false
  minifyOutput = false
  [minify.tdewolff]
    [minify.tdewolff.html]
      keepWhitespace = false
      keepComments = false
      keepQuotes = false
      keepEndTags = false
    [minify.tdewolff.css]
      keepCSS2 = false
      precision = 0
    [minify.tdewolff.js]
      keepVarNames = false
      precision = 0