{{ $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}
{{ with .Params.externalUrl }}
<a href="{{ . }}" target="_blank" rel="external" class="min-w-full">
  {{ else }}
  <a href="{{ .RelPermalink }}" class="min-w-full">
    {{ end }}
    <div class="min-h-full border border-neutral-200 dark:border-neutral-700 border-2 rounded overflow-hidden shadow-2xl relative">

      {{- with $.Params.images -}}
      {{- range first 6 . }}
      <meta property="og:image" content="{{ . | absURL }}" />{{ end -}}
      {{- else -}}
      {{- $images := $.Resources.ByType "image" -}}
      {{- $featured := $images.GetMatch "*feature*" -}}
      {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
      {{ if and .Params.featureimage (not $featured) }}
      {{- $url:= .Params.featureimage -}}
      {{ $featured = resources.GetRemote $url }}
      {{ end }}
      {{- if not $featured }}{{ with .Site.Params.defaultFeaturedImage }}{{ $featured = resources.Get . }}{{ end }}{{ end -}}
      {{ if .Params.hideFeatureImage }}{{ $featured = false }}{{ end }}
      {{- with $featured -}}
      {{ if or $disableImageOptimization (strings.HasSuffix $featured ".svg")}}
        {{ with . }}
        <div class="w-full thumbnail_card nozoom" style="background-image:url({{ .RelPermalink }});"></div>
        {{ end }}
      {{ else }}
        {{ with .Resize "600x" }}
        <div class="w-full thumbnail_card lazy-bg nozoom" data-bg="{{ .RelPermalink }}" style="background-image:url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E);"></div>
        {{ end }}
      {{ end }}
      {{- else -}}
      {{- with $.Site.Params.images }}
      <meta property="og:image" content="{{ index . 0 | absURL }}" />{{ end -}}
      {{- end -}}
      {{- end -}}

      {{ $image := .Resources.GetMatch "featured-image" }}
      {{ if $image }}
        {{ $webp := $image.Resize "600x webp" }}
        {{ $jpg := $image.Resize "600x" }}
        <picture>
          <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
          <img src="{{ $jpg.RelPermalink }}" alt="{{ .Title }}" width="{{ $jpg.Width }}" height="{{ $jpg.Height }}" class="w-full thumbnail_card">
        </picture>
      {{ end }}

      {{ if and .Draft .Site.Params.article.showDraftLabel }}
      <span class="absolute top-0 right-0 m-2">
        {{ partial "badge.html" (i18n "article.draft" | emojify) }}
      </span>
      {{ end }}

      <div class="px-6 py-8">

        {{ with .Site.Params.article.displayDate }}
          {{ if and (not (eq $.Section "projects")) (eq $.Section "posts") }}
            {{ partial "article-meta.html" (dict "context" $ "scope" "card") }}
          {{ end }}
        {{ end }}

        <div class="flex justify-between">
          <h2 class="text-2xl font-bold">{{ .Title }}</h2>
        
          {{ if $.Site.Params.article.showHero | default false }}
          {{ with .Params.externalUrl }}
          <div class="not-prose nozoom">
            <a href="{{ . }}" class="" target="_blank" aria-label="{{ i18n "nav.read_more" }}">
              <div class="inline-block min-w-[1rem]">
                {{ partial "icon.html" "external-link" }}
              </div>
            </a>
          </div>
          {{ else }}
          <div class="not-prose nozoom">
            <a href="{{ .RelPermalink }}" class="" aria-label="{{ i18n "nav.read_more" }}">
              <div class="inline-block min-w-[1rem]">
                {{ partial "icon.html" "arrow-circle-right" }}
              </div>
            </a>
          </div>
          {{ end }}
          {{ end }}
        </div>
      
        <div class="text-base py-4">
          {{ if .Params.summary }}
            {{ .Params.summary }}
          {{ else if .Description }}
            {{ .Description }}
          {{ else }}
            {{ .Summary }}
          {{ end }}
        </div>

      </div>
    </div>
  </a>
