{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<div class="flex author">
  {{ with .Site.Params.Author.image }}
    {{ $authorImage := "" }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
      {{ $authorImage = resources.GetRemote . }}
    {{ else }}
      {{ $authorImage = resources.Get . }}
    {{ end }}
    {{ if $authorImage }}
      {{ if not $disableImageOptimization }}
        {{ $authorImage = $authorImage.Fill "192x192" }}
      {{ end }}
      <img class="!mt-0 !mb-0 h-24 w-24 rounded-full ltr:mr-4 rtl:ml-4" width="96" height="96"
      alt="{{ $.Site.Params.Author.name | default "Author" }} profile picture" src="{{ $authorImage.RelPermalink }}" />
    {{ else }}
      {{ $authorImage := resources.GetRemote . }}
      {{ if not $disableImageOptimization }}
        {{ $authorImage = $authorImage.Fill "192x192" }}
      {{ end }}
      <img class="!mt-0 !mb-0 h-24 w-24 rounded-full ltr:mr-4 rtl:ml-4" width="96" height="96"
      alt="{{ $.Site.Params.Author.name | default "Author" }} profile picture" src="{{ $authorImage.RelPermalink }}" />
    {{ end }}
  {{ end }}
  <div>
    <h5 class="!mt-0 !mb-2 font-semibold leading-6 text-neutral-800 dark:text-neutral-200">
      {{ .Site.Params.Author.name | default "Author" }}
    </h5>
    {{ with .Site.Params.Author.bio }}
      <div class="!mt-0 !mb-3 text-sm text-neutral-700 dark:text-neutral-400">{{ . | markdownify }}</div>
    {{ end }}
    {{ with .Site.Params.Author.links }}
      <div class="flex flex-wrap text-neutral-400 dark:text-neutral-500">
        {{ range $links := . }}
          {{ range $name, $url := $links }}
            <a class="px-2 hover:text-primary-700 dark:hover:text-primary-400" href="{{ $url }}" target="_blank"
              aria-label="{{ $name | title }} link" rel="me noopener noreferrer"><span
                class="inline-block align-text-bottom">{{ partial "icon.html" $name }}</span></a>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
